<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    @*<meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="pragma" content="no-cache">
        <meta http-equiv="expires" content="wed, 04 jul 1973 16:00:00 gmt">*@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ez 도면 배포 시스템</title>

    @Styles.Render("~/bundles/css")
    @Styles.Render("~/bundles/FontAwesome")

    <link rel="stylesheet" type="text/css" href="~/Content/jqwidgets/styles/jqx.base.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/jqwidgets/styles/jqx.classic.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/jqwidgets/styles/jqx.metro.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/jqwidgets/styles/jqx.ispark.css?date=20191104" />



    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/isLoading/isLoading.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/Dropzone/dropzone.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/Dropzone/basic.css")" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/pjax")
    @Scripts.Render("~/bundles/Script")

    <script defer type="text/javascript" src=@Url.Content("~/Content/jqwidgets/jqx-all.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Content/jqwidgets/jqxcore.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Content/jqwidgets/jqxdata.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Content/jqwidgets/jqxdata.export.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Content/jqwidgets/jqxbuttons.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Content/jqwidgets/jqxscrollbar.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Content/jqwidgets/jqxmenu.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Content/jqwidgets/jqxcheckbox.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Content/jqwidgets/jqxlistbox.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Content/jqwidgets/jqxtabs.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Content/jqwidgets/jqxdropdownlist.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Content/jqwidgets/jqxtextarea.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Content/jqwidgets/jqxcombobox.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Content/jqwidgets/jqxgrid.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Content/jqwidgets/jqxgrid.sort.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Content/jqwidgets/jqxgrid.pager.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Content/jqwidgets/jqxgrid.selection.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Content/jqwidgets/jqxgrid.filter.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Content/jqwidgets/jqxgrid.edit.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Content/jqwidgets/jqxgrid.columnsresize.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Content/jqwidgets/jqxgrid.aggregates.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Content/jqwidgets/jqxgrid.grouping.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Content/jqwidgets/jqxformattedinput.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Content/jqwidgets/jqxinput.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Content/jqwidgets/jqxdatetimeinput.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Content/jqwidgets/jqxcalendar.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Content/jqwidgets/jqxradiobutton.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Content/jqwidgets/jqxwindow.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Content/jqwidgets/jqxtooltip.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Content/jqwidgets/jqxtreegrid.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Content/jqwidgets/jqxdatatable.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Content/jqwidgets/jqxexpander.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Content/jqwidgets/jqxdragdrop.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Content/jqwidgets/jqxcolorpicker.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Content/jqwidgets/globalization/globalize.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Content/jqwidgets/globalization/globalize.culture.ko-KR.js")></script>

    <script type="text/javascript" src=@Url.Content("~/Content/jqwidgets/globalization/globalize.js")></script>
    <script type="text/javascript" src=@Url.Content("~/Content/jqwidgets/globalization/globalize.culture.ko-KR.js")></script>
    <script type="text/javascript" src="@Url.Content("~/Content/isLoading/isLoading.js")"></script>


    <script type="text/javascript" src="~/Content/Dropzone/dropzone.js"></script>
</head>
<body>
    <div class="wrapGeneral">
        <div class="wrapTop">
            <div class="areaLogo" onclick="location.href='/Main'"></div>
            <div class="areaStatus">
                <div style="float:right; font-size:18px;min-width:200px;">
                    <div style="margin-top:22px;margin-right:20px;display:flex;flex-direction:row;">
                        <div style="line-height:1.6;cursor:pointer;" onclick="PasswordChange(this);">
                            <!--
                            <i class="fas fa-user"></i>
                            <label style="font-size:14px;">@Session["USER_GROUP_NM"] @Session["USER_NM"] @Session["USER_POS_NM"] 님</label>
                            -->
                            <div class="usericon"></div>
                            <label style="font-size:14px;position:relative; top:-3px; color:#fff;">@Session["USER_GROUP_NM"] @Session["USER_NM"] @Session["USER_POS_NM"] 님</label>
                        </div>
                        <div style="margin-left:10px;">
                            @using (Html.BeginForm("TryLogOut", "Login", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                <button onclick="javascript:document.getElementById('logoutForm').submit()">로그아웃</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapCenter">
            @{Html.RenderAction("Menu", "Main");}
            <div class="areaContents">
                <!--
                <div id="viewNavigation" style="height:40px;background:#DEDEDE;display:flex;flex-direction:row;">
                    <span style="margin:10px 10px;line-height:1.3;"><i class="fas fa-angle-double-right"></i></span><span style="height:20px;margin:10px 0px;line-height:1.3;font-family:NotoKrB"><label id="lbLocation">관리자 - 사용자관리</label></span>
                </div>
                -->
                <div id="viewNavigation" style="height:40px;background:#DEDEDE;display:flex;flex-direction:row;">
                    <span style="margin:10px 10px;line-height:1.3;"><i class="fas fa-angle-double-right"></i></span><span style="height:20px;margin:10px 0px;line-height:1.3;font-family:NotoKrB"><label id="lbLocation">관리자 - 사용자관리</label></span>
                </div>
                <div id="viewContent" style="">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <div id="jqxLoader">

    </div>
    <div id="dlgPasswordChange" style="display:none;">
        <div>비밀번호 변경</div>
        <div id="viewPassword"></div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("button").jqxButton();
            $("body").height($(window).height());
            $("#jqxLoader").jqxLoader({ width: 100, height: 60, imagePosition: 'top' });
            $("#dlgPasswordChange").jqxWindow({ width: 290, height: 290, minWidth: 290, minHeight: 290, resizable: false, isModal: true, autoOpen: false, modalOpacity: 0.5, showCloseButton: true });
            var isResized = true;

            $(window).resize(function () {
                isResized = true;
            });

            var resize = null;
            setTimeout(resize = function () {
                if (isResized === true) {
                    $("body").height($(window).height());

                    isResized = false;
                }
                setTimeout(resize, 300);
            }, 300);

        });

        $(document).on("click", "[link_type='pjax']", function (e) { // pjax라는 클래스를 가진 앵커태그가 클릭되면,
            var Url = $(this).attr('url');

            if (Url === undefined) {
                return false;
            }

            $.pjax({
                url: Url, // 앵커태그가 이동할 주소 추출
                //fragment: '#viewContent', // 위 주소를 받아와서 추출할 DOM
                container: '#viewContent', // 위에서 추출한 DOM 내용을 넣을 대상
            });

            //isloading.start().done(function () {

            //    $.pjax({
            //        url: Url, // 앵커태그가 이동할 주소 추출
            //        fragment: '#viewContent', // 위 주소를 받아와서 추출할 DOM
            //        container: '#viewContent', // 위에서 추출한 DOM 내용을 넣을 대상
            //    });

            //    //$(document).pjax(Url, '#viewContent', { fragment: '#viewContent' });
            //});

            return false;
        });


        $("#viewContent").on('pjax:send', function () {
            //isloading.start().done(function () { });

             $('#jqxLoader').jqxLoader('open');
        });

        $("#viewContent").on('pjax:end', function () {
            $(".subMenuBox").css({
                "display": "none",
                "top": 0,
                "left": 0,
                "z-index": -1
            });
            $('#jqxLoader').jqxLoader('close');
        });

        $(document).on('pjax:complete', function () {
            $("button").jqxButton();
            //isloading.stop();
        }); 

        function PasswordChange(obj) {
            $("#viewPassword").load("/Common/PasswordChange", null, function () {
                var posX = $(obj).offset().left - ($("#viewPassword").width() / 2);
                var posY = $(obj).offset().top + 30;

                $('#dlgPasswordChange').jqxWindow({ position: { x: posX, y: posY } });
                $('#dlgPasswordChange').jqxWindow("show");
            });
        }

        function CloseDlgPassword() {
            $('#dlgPasswordChange').jqxWindow("close");
      
        }

    </script>
</body>
    </html>
