@{
    if (Request.Headers["X-PJAX"] != null)
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<style type="text/css">
    .dropzone .dz-preview .dz-image {
        width: 124px !important;
        height: 84px !important;
    }

    .dz-preview.dz-file-preview .dz-details .dz-size {
        display: none;
        font-size: 12px;
    }

    .dropzone .dz-message {
        margin-top: 45px;
    }
</style>

<div id="boardContent">
    <div>
        <table class="titleGrid">
            <tr>
                <th></th>
                <td>
                    @*<div style="display : flex;">
                        <input type="radio" name="category" class="category" value="71" />공지사항
                        <input type="radio" name="category" class="category" value="70" />교육자료
                        <input type="radio" name="category" class="category" value="72" />Q&A
                    </div>*@
                    <div>
                        <div id="cbBbsCg"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <!--xml 에서 조건이 걸려야 select제대로 해옴.-->
                <th>@Resources.Resource.res0037</th>@*제목*@
                <td><input type="text" id="txtBbsTitle" style="width:100%"></td>
               
            </tr>
            <tr>
                <th>@Resources.Resource.res0513@*첨부파일*@</th>
                <td>
                    <form id="frmLocalfile" action="/file-upload" class="dropzone" style="height:50px;"></form>
                </td>

            </tr>
            <tr>
                <th>@Resources.Resource.res0390@*내용*@</th>
                <td style="width:100%;">
                    <textarea id="editor"></textarea>
                </td>
            </tr>
        </table>
        <div id="btns" style=" display:flex; margin-left:10px;">
            <button id="btnBbsAdd" style="margin-right:10px;"> @Resources.Resource.res0236@*저장*@</button>
            <button id="btnAddCancel"> @Resources.Resource.res0225@*취소*@</button>
        </div>
    </div>

</div>

<script type="text/javascript">

    $("#lbLocation").text("@Resources.Resource.res0003 - @Resources.Resource.res0005");//게시판 - 게시글 작성

    var bbsFileSource =
    {
        datatype: "json",
        datafields: [
            { name: 'bbs_file_idx' },
            { name: 'bbs_idx' },
            { name: 'is_itf_nm'},
            { name: 'file_org_nm' },
            { name: 'file_conv_nm' },
        ],     
        id: 'bbs_file_idx',
        localdata: null
    };

     //게시판은 첨부파일 없이도 저장되야함. 


    $(document).ready(function () {

        //콤보 : db조회해서 가져온, 사용할 값
        //Combining the HTML data attribute with the combination Html.Raw(JSon.Encode(object)) methods facilitates the injection of server side data into the document object model.
        var CgData = ConvComboData(@Html.Raw(Json.Encode(ViewBag.BbsCategory)), "idx", "code_value", false);
        //콤보박스 설정
        $("#cbBbsCg").jqxComboBox({ selectedIndex: 0, source: CgData, displayMember: "text", valueMember: "value", width: 150, height: 26, });

        $('#btnAddCancel').click(function () {
            location.href = "/Bbs/BoardList";
        });
        
        $('#editor').jqxEditor({
            height: "400px",
            width: "100%",
            tools: 'bold italic underline | left center right'
        });

       
    });

    var oDropzone = null;

    Dropzone.options.frmLocalfile = {
        url : '@Url.Action("SetBoardContents", "Bbs")', //class="dropzone->가면 action="/file-upload"로 해놓은걸 url로 바꿔침
        params: {"bbs_category" : $("#cbBbsCg").val(), "bbs_title" :  $("#txtBbsTitle").val() , "bbs_content":  $("#editor").val()},
        addRemoveLinks: true,//업로드 취소 및 추가삭제 미리보기 그림 링크 기본 안 추가
        autoProcessQueue: false, //자동업로드 끄기
        paralleChunkUploads : true, //병렬처리 -webconfig수정을 왜 같이 해줘야하는거지?
        uploadMultiple : true, //여러개 가능?

        parallelUploads: 20, //20개까지
        maxFiles : 20,
        maxFilesize: 2048,
        method: 'post',
            
        init: function() { //초기동작initial
            oDropzone = this;

            var BbsAdd = document.querySelector('#btnBbsAdd');
          
            BbsAdd.addEventListener("click", function () {

             
                //console.log($("input[name=category]:checked").val());
                //console.log($("#cbBbsCg").jqxComboBox('getSelectedItem').value);
                console.log( "category" + $("#cbBbsCg").val());
                console.log($("#txtBbsTitle").val());
                console.log($("#editor").val());

                if (oDropzone.files.length == 0) {
                    oDropzone._uploadData([{ upload: { filename: '' } }], [{ filename: '', name: '', data: new Blob() }]);
                }
                //oDropzone.options.params.bbs_category = $("input[name=category]:checked").val();
                //oDropzone.options.params.bbs_title = $("#txtBbsTitle").val();
                //oDropzone.options.params.bbs_content = $("#editor").val();

                oDropzone.processQueue();
            });

            this.on("sending", function (file, xhr, formData) {

                formData.append("bbs_category", $("#cbBbsCg").val());
                formData.append("bbs_title", $("#txtBbsTitle").val());
                formData.append("bbs_content", $("#editor").val());

                console.log(formData);
            });

            this.on("complete", function (data) {//업로드 된후 
                if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                    //xhr = xmlHttpRequest : 비동기식 전송
                    if (data.xhr != undefined) {//xhr 제대로 값왔을때
                        if (data.isError) {
                            alert(data.resultMessage);
                            console.log(data.resultDescription);
                            return false;
                        }
                        this.removeAllFiles(true);

                        var IDX = eval("(" + data.xhr.responseText + ")");
                        location.href = "/Bbs/BoardView?bbs_idx=" + IDX.bbs_idx;
                    }
                }
            });
        }
    }

    //function GetBoardData() {

    //    var printBbs = function (res) {//controller에서 무엇을 리턴받는가 res= return
           
    //        location.href = "/Bbs/BoardView?bbs_idx="+res; //res= 리턴값 bbsIDX
    //    }
      
    //    var param = {};
      
    //   /param.bbs_category = $('input[name =category]: checked').val();
    //    param.bbs_title = $('#txtBbsTitle').val();
    //    param.bbs_content = $('#editor').val();
    //    param.file_org_nm = $('.dz-filename span').text();

    //    GetCommData("/Bbs/SetBoardContents", param, printBbs);
        
    //}

</script>

 