@{
    if (Request.Headers["X-PJAX"] != null)
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}


<div id="boardContent">
    <div id="btns" style="display : flex; margin-left:10px;">
        <button id="btnGoList" style="margin-bottom:5px;">목록으로</button>
    </div>
    <input type="hidden" id="hid_bbs_category" value="@ViewBag.bbsContentsModel.bbs_category" />
    <input type="hidden" id="hid_bbs_idx" value="@ViewBag.bbsContentsModel.bbs_idx" />
    <table class="titleGrid">
        <tr>
            <th>제목</th>
            <td><input type="text" id="txtBbsTitle" style="width: 100%;" value="@ViewBag.bbsContentsModel.bbs_title" /></td>
            <th>작성자</th>
            <td>@ViewBag.bbsContentsModel.create_us_nm</td>
            <th>작성일</th>
            <td>@ViewBag.bbsContentsModel.create_dt</td>
        </tr>
        <tr>
            <th>첨부파일</th>
            <td colspan="6">@ViewBag.bbsFileModel[0].file_org_nm</td>
        </tr>`
        <tr>
            <th>내용</th>
            <td colspan="6" style="min-height:200px;height:400px;vertical-align:top;">
                <textarea id="editor">  @Html.Raw(ViewBag.bbsContentsModel.bbs_content)</textarea>
            </td>
        </tr>
    </table>

    <div id="btns" style="display:flex; margin-left:10px;">
        <button id="btnBbsModi" onclick="BbsModify()" style="margin-bottom:5px; margin-right:10px;">완료</button>

    </div>
</div>


<script type="text/javascript">

    var bbsSource =
    {
        datatype: "json",
        datafields: [
            { name: 'bbs_idx' },
            { name: 'bbs_category' },
            { name: 'bbs_title' },
            { name: 'bbs_content' },
            { name: 'create_us_nm' },
            { name: 'create_datetime' },
        ],
        id: 'bbs_idx',
        localdata: null
    };

    var bbsFileSource =
    {
        datatype: "json",
        datafields: [
            { name: 'bbs_file_idx' },
            { name: 'bbs_idx' },
            { name: 'file_org_nm' },
            { name: 'file_conv_nm' },
        ],
        id: 'bbs_file_idx',
        localdata: null
    };

    $(document).ready(function () {

        $('#btnGoList').click(function () {
            location.href = "/Bbs/BoardList";
        });

        $('#editor').jqxEditor({
            height: "400px",
            width: "100%",
            tools: 'bold italic underline | left center right'
        });

    });
    function BbsModify() {
        var printBbs = function (res) {
            location.href = "/Bbs/BoardView?bbs_idx=" + res.bbs_idx;
            //location.href = "/Bbs/BoardView?bbs_idx=" + res;
            //location.href = "/Bbs/BoardList";
        }

        param = {};

        param.bbs_category = $('#hid_bbs_category').val();
        param.bbs_idx = $('#hid_bbs_idx').val();
        param.bbs_title = $('#txtBbsTitle').val();
        param.bbs_content = $("#editor").val();

        GetCommData("/Bbs/SetBoardContents", param, printBbs);
    }
</script>
