@{
    if (Request.Headers["X-PJAX"] != null)
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}


<div id="boardContent">
    <div id="btns" style="display : flex; margin-left:10px;">
        <button id="btnGoList" style="margin-bottom:5px;">@Resources.Resource.res0409@*목록으로*@</button>
        @if (ViewBag.bbsContentsModel.create_us == Convert.ToInt32(Session["USER_IDX"].ToString()) || Session["USER_ROLE"].ToString() == "40")
        {
            <button id="btnBbsModi" style="margin-bottom:5px; margin-left:10px;">@Resources.Resource.res0384@*글수정*@</button>
            <button id="btnBbsDel" style="margin-bottom:5px; margin-left:10px;">@Resources.Resource.res0214@*삭제*@</button>
        }
    </div>

    <input type="hidden" id="hid_bbs_category" value="@ViewBag.bbsContentsModel.bbs_category" />
    <input type="hidden" id="hid_bbs_idx" value="@ViewBag.bbsContentsModel.bbs_idx" />
    <table class="titleGrid">
        <tr>
            <th>@Resources.Resource.res0037</th>@*제목*@
            <td>@ViewBag.bbsContentsModel.bbs_title</td>
            <th>@Resources.Resource.res0106</th>@*작성자*@
            <td>@ViewBag.bbsContentsModel.create_us_nm</td>
            <th>@Resources.Resource.res0282</th>@*작성일*@
            <td>@ViewBag.bbsContentsModel.create_dt</td>
        </tr>
        @if (ViewBag.bbsFileModel.Count > 0)
        {
            <tr>
                <th>@Resources.Resource.res0513@*첨부파일*@</th>
                <td colspan="6" class="file_nm">
                    @foreach (var data in ViewBag.bbsFIleModel)
                    {
                        <div>
                            <a style="text-decoration-line: none;" href="javascript:GetBbsDownloadFile(@data.bbs_file_idx)">@data.file_org_nm</a>
                        </div>
                    }
                </td>
            </tr>
        }
        <tr>
            <th>@Resources.Resource.res0390@*내용*@</th>
            <td colspan="6" style="min-height:200px;height:400px;vertical-align:top;">
                <div id="bbsContentArea">
                    <!--html 코드를 원본 상태로 출력-->
                    @Html.Raw(ViewBag.bbsContentsModel.bbs_content)
                </div>
            </td>
        </tr>
    </table>

    <div id="replyBox">
        <div id="replyList"></div>
    </div>

    <!--댓글작성-->
    <div id="writereplybox" style="display:flex; margin-left: 10px;">
        <div style="width:90%;">
            <textarea class="txtBox" id="replycontent" style="width:100%; height:100px;"></textarea>
        </div>
        <div style="width:10%;text-align:right;padding-right:20px;">
            <button id="btnaddreply" onclick="AddReply()" style="width:100px; height: 100px; margin-left:10px;">@Resources.Resource.res0392@*등록*@</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#lbLocation").text("@Resources.Resource.res0003 - @Resources.Resource.res0006");//게시판- 게시글
    var bbsSource =
    {
        datatype: "json",
        datafields: [
            { name: 'bbs_idx' },
            { name: 'bbs_category' },
            { name: 'bbs_title' },
            { name: 'bbs_content' },
            { name: 'create_us_nm' },
            { name: 'create_datetime' },
        ],
        id: 'bbs_idx',
        localdata: null
    };

    var bbsFileSource =
    {
        datatype: "json",
        datafields: [
            { name: 'bbs_file_idx' },
            { name: 'bbs_idx' },
            { name: 'file_org_nm' },
            { name: 'file_conv_nm' },
        ],
        id: 'bbs_file_idx',
        localdata: null
    };

    var bbsReplySource =
    {
        datatype: "json",
        datafields: [
            { name: 'bbs_reply_idx' },
            { name: 'bbs_idx' },
            { name: 'bbs_reply_content' },
            { name: 'create_us_nm' },
            { name: 'create_datetime' },
        ],
        id: 'bbs_reply_idx',
        localdata: null
    };

    $(document).ready(function () {

        GetReply();

        //btns
        $('#btnGoList').click(function () {
            location.href = "/Bbs/BoardList";
        });

        $('#btnBbsModi').click(function () {
            var idx = $('#hid_bbs_idx').val();
            location.href = "/Bbs/BoardModify?bbs_idx=" + idx;//view로
        });

        $('#btnBbsDel').click(function () {

            var bbs_idx = $('#hid_bbs_idx').val();

            $.post("/Bbs/setBbsContentDelete", { bbs_idx: bbs_idx }, function (res) {
                if (res.isError) {
                    alert(res.resultMessage);
                    console.log(res.resultDescription);
                    return;
                }

                alert("@Resources.Resource.res0174");//삭제되었습니다.

            });
            location.href = "/Bbs/BoardList";
        });

        $("textarea").keydown(function (key) {
            if (key.keyCode == 13) {
                AddReply();
            }
        });

    });
    function AddReply() {

        var printBbsReply = function (res) {//controller에서 무엇을 리턴받는가 res= return

            location.href = "/Bbs/BoardView?bbs_idx=" + res;
        }

        var param = {};
        //작성자(섹션), 시간날짜(now), 내용
        param.bbs_idx = $("#hid_bbs_idx").val();
        param.bbs_reply_content = $("#replycontent").val();

        GetCommData("/Bbs/setBbsReply", param, printBbsReply);
    }

    function AddRe_Reply(idx) {//대댓저장

        var printBbsReply = function (res) {
              location.href = "/Bbs/BoardView?bbs_idx=" + res;
        }

        var param = {};

        param.bbs_idx = $('#hid_bbs_idx').val();
        param.parent_reply_idx = idx;
        //param.bbs_reply_content = $('#RE_replyContent').val();
        param.bbs_reply_content = $('#RE_replyContent_'+idx).val();
        GetCommData("/Bbs/setBbsReply", param, printBbsReply);

    }

    function showRe_replyWrite(idx) {

        var Target = $("#reply_" + idx);
        var cancle = $("#lbSonReplyX" + idx)
        //if (Target.hasClass('open')) {
        //    Target.css('display', 'none');
        //    Target.removeClass('open');
        //}
        //else {
            Target.css('display', 'flex');
           cancle.css('display' , 'initial');
            Target.addClass("open");
          $('.lbSonReplyX').addClass("open");
        //}

    }

    function showRe_replyWriteX(idx) {

        var Target = $("#reply_" + idx);
        var cancle = $("#lbSonReplyX" + idx)
        if (Target.hasClass('open') ) {
            Target.css('display', 'none');
            cancle.css('display' , 'none');
            Target.removeClass('open');
        }
        //else {
        //    Target.css('display', 'flex');
        //    Target.addClass("open");
        //}

    }
    //2. 자식 유무
    function replyDelete(idx) {// idx =  bbs_reply_idx

        var replyM = $("#reply" + idx);

        //if ($('div #reply' + idx).children('div .REreplys').length > 0) {
        if ($(replyM).children('div .REreplys').length > 0)
        {
        //if ($('#reply' + idx).children('div .REreplys')) {    

            var param = {};

            param.bbs_reply_idx = idx;
            param.bbs_idx = $("#hid_bbs_idx").val();
            param.bbs_reply_content = "- @Resources.Resource.res0262 -";//삭제된 내용입니다.

            $.post("/Bbs/setReplyReplace", param, function (res) {
         
                if (res.isError)
                {
                    alert(res.resultMessage);
                    console.log(res.resultDescription);
                    return;
                }
                alert("@Resources.Resource.res0174.");//삭제되었습니다
               
                location.href = "/Bbs/BoardView?bbs_idx="  +res;
                
            });
        }
        else
        {
            console.log( $("#REreply"+idx) );
            var param = {};

            param.bbs_reply_idx = idx;
            param.bbs_idx = $("#hid_bbs_idx").val();

            $.post("/Bbs/setReplyDelete", param, function (res) {
         
                if (res.isError)
                {
                    alert(res.resultMessage);
                    console.log(res.resultDescription);
                    return;
                }
                alert("@Resources.Resource.res0174.");

                $("#reply" + idx).remove();
                
            });
        }
    }
    //대댓
    function REreplyDelete(idx) {
        var param = {};

        param.bbs_reply_idx = idx;
        param.bbs_idx = $("#hid_bbs_idx").val();

        $.post("/Bbs/setReplyDelete", param, function (res) {

            if (res.isError) {
                alert(res.resultMessage);
                console.log(res.resultDescription);
                return;
            }
            alert("@Resources.Resource.res0174.");
            //대댓
            $("#REreply" +idx).remove();
        });
    }
    //댓글
    function GetReply() {
        MakeReply = function (res) {
            getMakeReply(res);
        }

        var param = {};

        param.bbs_idx = $("#hid_bbs_idx").val();//조회할것
        GetCommData("/Bbs/getBbsReply", param, MakeReply);

    }

    function getMakeReply(datas) {
        var replyList = treeModel(datas, null, "bbs_reply_idx", "parent_reply_idx");
        var list = document.getElementById("replyList");

        replyList.forEach(function (item, index, array) {

            var newReply = document.createElement("div");

            newReply.setAttribute("id", "reply" + item.bbs_reply_idx);
            newReply.className = "newReplys";
            newReply.setAttribute("hid_bbs_idx", item.bbs_idx);
            newReply.setAttribute("hid_bbs_reply_idx", item.bbs_reply_idx);
            newReply.setAttribute("hid_parent_reply_idx", item.parent_reply_idx);
            newReply.setAttribute("create_us", item.create_us);
            newReply.setAttribute("use_fl", item.use_fl);
            
            //1. 작성자, 날짜, 답글버튼
            var replyInfobox = document.createElement("div");
            replyInfobox.className = "replyInfo";

            //1.1
            var re_name = document.createElement("div");
            re_name.className = "reply_us_nm";
            re_name.innerText = item.create_us_nm;

            //1.2
            var re_datetime = document.createElement("div");
            re_datetime.className = "reply_create_dt";
            re_datetime.innerText = item.create_datetime;

            //1.3
            var Re_replybox = document.createElement("div");
            Re_replybox.className = "RE_reply";

            //console.log("item.use_fl" + item.use_fl);
            var use = newReply.getAttribute("use_fl");

            if (use == "Y")
            {
                var lbSonReply = document.createElement("a");
                lbSonReply.innerText = "@Resources.Resource.res0224";//답글
                lbSonReply.href = "javascript:showRe_replyWrite(" + item.bbs_reply_idx + ")";
                Re_replybox.append(lbSonReply);

                var lbSonReplyX = document.createElement("a");
                lbSonReplyX.id = "lbSonReplyX" + item.bbs_reply_idx;
                lbSonReplyX.className = "lbSonReplyX";
                lbSonReplyX.innerText = "@Resources.Resource.res0225";//취소
                lbSonReplyX.href = "javascript:showRe_replyWriteX(" + item.bbs_reply_idx + ")";
                Re_replybox.append(lbSonReplyX);

                var ReplyIDX = newReply.getAttribute("create_us");

                if (ReplyIDX == @Convert.ToInt32(Session["USER_IDX"]) || @Session["USER_ROLE"].ToString() == "40")
                {
                    var hrefDele = document.createElement("a");
                    hrefDele.innerText = "@Resources.Resource.res0214";//삭제
                    hrefDele.id = "btnReplyDelete"+  item.bbs_reply_idx;
                    hrefDele.href = "javascript:replyDelete(" + item.bbs_reply_idx + ")";
                    Re_replybox.append(hrefDele);
                }
            }
            
            replyInfobox.appendChild(re_name);
            replyInfobox.appendChild(re_datetime);
            replyInfobox.appendChild(Re_replybox);

            //2-내용
            var reply_content = document.createElement("div");
            reply_content.className = "bbs_reply_content";
            reply_content.innerText = item.bbs_reply_content;

            //3-대댓글작성 -내용, 댓글등록btn
            var writeRe_replybox = document.createElement("div");
            writeRe_replybox.className = "writeRE_replybox";
            writeRe_replybox.id = "reply_" + item.bbs_reply_idx; //+ foreach문 횟수 item;
            //3.1
            var txtBox = document.createElement("div");
            txtBox.className = "txtBoxWrap";
            var RE_replyContent = document.createElement("textarea");
            //3.2
            RE_replyContent.className = "RE_replyContent";
            //RE_replyContent.id = "RE_replyContent_" + item.bbs_reply_idx;
            RE_replyContent.id = "RE_replyContent_" +item.bbs_reply_idx;
            txtBox.appendChild(RE_replyContent);

            var btnReplyAdd = document.createElement("div");
            btnReplyAdd.className = "btnwrap";

            var btnAddReply = document.createElement("button");
            btnAddReply.className = "btnAdd";
            btnAddReply.id = "btnAdd" + item.bbs_reply_idx;
            var btnAddReplytxt = document.createTextNode('@Resources.Resource.res0340');//답글달기
            btnAddReply.appendChild(btnAddReplytxt);

            var idx = item.bbs_reply_idx;
            btnAddReply.addEventListener("click", function () {
                AddRe_Reply(idx);
            });

            btnReplyAdd.appendChild(btnAddReply);

            writeRe_replybox.appendChild(txtBox);
            writeRe_replybox.appendChild(btnReplyAdd);
            //appendChild == append
            newReply.appendChild(replyInfobox);
            newReply.appendChild(reply_content);
            newReply.appendChild(writeRe_replybox);

            list.appendChild(newReply);
            //대댓글이 있다면
            if (item.children != undefined && item.children.length > 0) {

                var REreplys = document.createElement("div");
                REreplys.className = "REreplys";
                REreplys.setAttribute("hid_bbs_idx", item.bbs_idx);
                REreplys.setAttribute("hid_parent_reply_idx", item.bbs_reply_idx);
                //REreplys.setAttribute("hid_bbs_reply_idx", item.bbs_reply_idx);

                //item, index, array
                //nodes, item, index
                item.children.forEach(function (son) {
                    console.log("at son : parentIDX = " + item.bbs_reply_idx);
                    var REreply = document.createElement("div");
                    REreply.className = "REreply"
                    REreply.id = "REreply" + son.bbs_reply_idx;
                    REreply.setAttribute("hid_bbs_reply_idx", son.bbs_reply_idx);
                    REreply.setAttribute("create_us", son.create_us);
                    REreply.setAttribute("hid_parent_reply_idx",item.bbs_reply_idx);

                    var REreplyInfo = document.createElement("div");
                    REreplyInfo.className = "RereplyInfo";
                    //1
                    var REreply_nm = document.createElement("div");
                    REreply_nm.className = "REreply_nm";
                    REreply_nm.innerText =  "└ "+ son.create_us_nm;
                    REreplyInfo.appendChild(REreply_nm);
                    //2
                    var REreply_dt = document.createElement("div");
                    REreply_dt.className = "REreply_dt";
                    REreply_dt.innerText = son.create_datetime;
                    REreplyInfo.appendChild(REreply_dt);
                    //3
                    var REreply_delWrap = document.createElement("div");
                    REreply_delWrap.className = "REreply_delWrap";
                    //3.1

                    var RE_replyIDX = REreply.getAttribute("create_us");

                    if (RE_replyIDX == @Convert.ToInt32(Session["USER_IDX"]) || @Session["USER_ROLE"].ToString() == "40") {
                        var REreply_del = document.createElement("a");
                        REreply_del.href = "javascript:REreplyDelete(" + son.bbs_reply_idx + ")";
                        REreply_del.innerText = "@Resources.Resource.res0214";//삭제
                        REreply_delWrap.appendChild(REreply_del);
                    }

                    //REreplyinfo
                    REreplyInfo.appendChild(REreply_delWrap);
                    REreply.appendChild(REreplyInfo);

                    var REreply_content = document.createElement("div");
                    REreply_content.className = "REreply_content";
                    REreply_content.id = "REreply_content_" + son.bbs_reply_idx;
                    REreply_content.innerText = son.bbs_reply_content;
                    REreply.appendChild(REreply_content);

                    REreplys.appendChild(REreply);
                });

                newReply.appendChild(REreplys);
                //alert(item.bbs_reply_idx + " 의 대댓 개수 : " + item.children.length);
            }

        });
    }


</script>
