@{
    Layout = null;
}

<div style="width:100%;height:auto;display:flex;flex-direction:column;justify-content:space-between;">
    <div style="margin-top:10px;">
        <div><label class="lbText" style="margin-left:5px;">@Resources.Resource.res0534@*현재 비밀번호*@</label></div>
        <div style="padding-left:10px;margin-top:5px;">
            <input type="password" id="txtNowPassword" class="txtBox large" style="width:250px" value="" />
        </div>
    </div> 
    <div style="margin-top:10px;">
        <div><label class="lbText" style="margin-left:5px;">@Resources.Resource.res0449@*새 비밀번호*@</label></div>
        <div style="padding-left:10px;margin-top:5px;">
            <input type="password" id="txtNewPassword" class="txtBox large" style="width:250px" value="" />
        </div>
    </div>
    <div style="margin-top:10px;">
        <div><label class="lbText" style="margin-left:5px;">@Resources.Resource.res0450@*새 비밀번호 확인*@</label></div>
        <div style="padding-left:10px;margin-top:5px;">
            <input type="password" id="txtNewPasswordCheck" class="txtBox large" style="width:250px" value="" />
        </div>
    </div>
</div>

<div style="width:100%;text-align:right;margin-top:10px;">
    <button id="btnSave" style="margin-top:6px;margin-right:10px;">@Resources.Resource.res0503@*저 장*@</button>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnSave").jqxButton();

        $("#btnSave").on("click", function () {
            SetChangePassword();
        })

    });

    function SetChangePassword() {
        var param = {};
        param.nowPassword = $("#txtNowPassword").val();
        param.changePassword = $("#txtNewPassword").val();
        param.changeChkPassword = $("#txtNewPasswordCheck").val();

        if (param.nowPassword.trim() === "") {
            alert("@Resources.Resource.res0193"); return;//현재 비밀번호가 입력되지 않았습니다
        }

        if (param.changePassword.trim() === "" || param.changeChkPassword.trim() === "") {
            alert("@Resources.Resource.res0183"); return;//신규 비밀번호가 입력되지 않았습니다."
        }

        if (param.changePassword != param.changeChkPassword) {
            alert("@Resources.Resource.res0184"); return;//신규 비밀번호의 값이 서로 다릅니다 
        }

        $.post("/Common/SetChangePassword", param, function (res) {
            if (res.isError) {
                alert(res.resultMessage);
                console.log(res.resultDescription);
                return false;
            }

            alert("@Resources.Resource.res0163"); return;//변경되었습니다
        })

    }
</script>