@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=euc-kr">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="expires" content="-1">
    @Styles.Render("~/bundles/css")

    <style type="text/css">
        .otpWrap {
            -webkit-box-shadow: 10px 10px 22px 5px rgba(0,0,0,0.1);
            -moz-box-shadow: 10px 10px 22px 5px rgba(0,0,0,0.1);
            box-shadow: 10px 10px 22px 5px rgba(0,0,0,0.1);
            background-color: #ffffff;
            border-bottom: 2px solid #405597;
        }

        .loginlogo {
            width: 220px;
            height: 82px;
            background-image: url(../../Content/images/base/login_logo.png);
            align: center;
            position: absolute;
            left: 50%;
            top: 22%;
            margin-left: -110px;
        }
    </style>
</head>
<body style="background-image:url(../../Content/images/Base/login_bg.png)">
    <div style="width:100%;height:100%;">
        <div class="loginlogo"></div>
        <div class="otpWrap" style="position:absolute; top:50%; left:50%; margin-left:-223px;margin-top:-170px; width:446px; height:270px;">
            <div style="margin-top:50px; margin-left: 60px; margin-right: 60px; width: 320px; height:65px; background-image: url(../../Content/images/base/login_text.png); background-repeat: no-repeat; border-bottom: solid 2px #e5e4e4;">

            </div>
            <div>
                <div style="margin-top:40px;font-size:13px;width:230px;float:left;margin-top:25px;margin-left:60px;margin-left:60px;">
                    <input type="text" id="txtLoginID" class="txtBox" style="width:230px;height:28px;font-size:14px;" value="ispark" />
                    <label id="lbLoginPW"></label>
                    <input type="password" id="txtLoginPW" class="txtBox" style="width:230px;height:28px;font-size:14px;margin-top:8px;" value="test1234" />
                </div>
                <div style="margin-top:25px;font-size:12px;margin-left:15px;margin-right:50px;text-align:right;padding-right:10px;float:left;">
                    <button id="btnLogin" class="btn" onclick="">@Resources.Resource.res0394@*로그인*@</button>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).keydown(function (e) {
                if (e.keyCode == 13) { //13:엔터키
                    $("#btnLogin").trigger("click");
                }
            });

            $("#btnLogin").on("click", function () {
                var tryLoginID = $("#txtLoginID").val();
                var tryLoginPW = $("#txtLoginPW").val();

                if (tryLoginID.trim() === "") {
                    alert("@Resources.Resource.res0185.");//아이디가 입력되지 않았습니다.
                    $("#txtLoginID").focus();
                    return false;
                }

                if (tryLoginPW.trim() === "") {
                    alert("@Resources.Resource.res0165.");//비밀번호가 입력되지 않았습니다
                    $("#txtLoginPW").focus();
                    return false;
                }

                var param = {};
                param.login_id = tryLoginID;
                param.login_pw = tryLoginPW;
                param.langCd = "en-us"
                /*
                 중국어 간체 zh-cn
                 미국 영어 en-us
                 영국 영어 en-gb
                 중국어 번체 zh-tw
                 일본어 ja-jp
                 한국어 ko-kr
                 */
                $.post('/Login/TryLogin', { loginInfo: param }, function (res) {
                    if (res.isError) {
                        alert(res.resultMessage);
                        console.log(res);

                        return false;
                    }

                    location.replace(res.url);
                }).fail(function (err) {
                    alert("@Resources.Resource.res0182.");//시스템 오류가 발생하였습니다. 관리자에게 문의 부탁드립니다
                    console.log(err);
                })

            })
        });

    </script>
</body>
</html>
